<div class="admin-side-bar">
    <ul>
        <li><%= link_to "Dashboard", admin_dashboard_path, class: "a-side-link" %></li>
        <li><%= link_to "Órdenes", admin_orders_path, class: "a-side-link" %></li>
        <li><%= link_to "Prendas", admin_cloths_path, class: "a-side-link" %></li>
        <li><%= link_to "Promociones", admin_promotions_path, class: "a-side-link" %></li>
        <li><%= link_to "Home Sliders", admin_home_sliders_path, class: "a-side-link" %></li>
    </ul>
</div>
