<%= render 'side_bar' %>
<div class="admin-wrapper">
    <div class="wrapper">
        <div class="page-section">
            <h3>Links</h3>
            <hr>
        </div>
        <div class="links">
            <%= link_to "Nueva Prenda", new_cloth_path %>
            <%= link_to "Nuevo Color", new_color_path %>
            <%= link_to "Nueva Talla", new_size_path %>
            <%= link_to "Nueva Promoción", new_promotion_path %>
            <%= link_to "Nuevo Home Slider", new_home_slider_path %>
            <%= link_to "Nuevo Categoría", new_category_path %>
            <%= link_to "Nuevo Marca", new_brand_path %>
        </div>
        <div class="page-section">
            <h3>Órdenes Recientes</h3>
            <hr>
        </div>
        <div class="recent-orders-admin">
            <% @orders.each do |order| %>
                <%= link_to order do %>
                    <div class="recent-order col-sm-3 <%= order.order_status.name %>">
                        <p><%= order_items_total(order) %> prendas</p>
                        <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                        <p>MXN <%= number_to_currency(order.total) %></p>
                        <p><%= order.order_status.name %></p>
                        <p>Comprada: <%= order.sold_at.strftime("%H:%M, %d/%m/%y") %></p>
                        <p><%= order.id %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <hr>
        <div class="page-section">
            <h3>Promoción Activa</h3>
            <hr>
        </div>
        <div class="promo">
            <p><span>Titulo: </span><%= @promotion.title %></p>
            <% if !@promotion.description.nil? %>
                <p><span>Descripción: </span><%= @promotion.description %></p>
            <% else %>
                <p><span>Número de prendas: </span><%= @promotion.cloths.count %></p>
            <% end %>
            <%= link_to "Ver", @promotion %>
        </div>
        <hr>
        <div class="page-section">
            <h3>Home Sliders Activos</h3>
            <hr>
        </div>
        <div class="active-sliders">
            <% @sliders.each do |slider| %>
                <div class="col-sm-4">
                    <div class="thumbnail a-slider">
                        <%= image_tag slider.image.url(:preview) %>
                        <% if !slider.description.nil? %>
                            <div class="caption">
                                <%= slider.description.truncate_words(6) %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
