<%= render 'side_bar' %>
<div class="admin-wrapper">
    <div class="wrapper">
        <div class="page-section">
            <h3>Pagadas Recientes</h3>
            <hr>
        </div>
        <div class="recent-orders-admin">
            <% @p_orders.each do |order| %>
                <%= link_to admin_order_path(order) do %>
                    <div class="recent-order col-sm-3 <%= order.order_status.name %>">
                        <p><%= order_items_total(order) %> prendas</p>
                        <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                        <p>MXN <%= number_to_currency(order.total) %></p>
                        <p><%= order.order_status.name %></p>
                        <p>Comprada: <%= order.sold_at.strftime("%H:%M, %d/%m/%y") %></p>
                        <p><%= order.id %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="link-ver">
            <%= link_to "Ver todas", admin_orders_buyed_path %>
        </div>
        <hr>
        <div class="page-section">
            <h3>Enviadas Recientes</h3>
            <hr>
        </div>
        <div class="recent-orders-admin">
            <% @s_orders.each do |order| %>
                <%= link_to admin_order_path(order) do %>
                    <div class="recent-order col-sm-3 <%= order.order_status.name %>">
                        <p><%= order_items_total(order) %> prendas</p>
                        <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                        <p>MXN <%= number_to_currency(order.total) %></p>
                        <p><%= order.order_status.name %></p>
                        <p>Comprada: <%= order.sold_at.strftime("%H:%M, %d/%m/%y") %></p>
                        <p><%= order.id %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="link-ver">
            <%= link_to "Ver todas", admin_orders_shipped_path %>
        </div>
        <hr>
        <div class="page-section">
            <h3>Canceladas Recientes</h3>
            <hr>
        </div>
        <div class="recent-orders-admin">
            <% @c_orders.each do |order| %>
                <%= link_to admin_order_path(order) do %>
                    <div class="recent-order col-sm-3 <%= order.order_status.name %>">
                        <p><%= order_items_total(order) %> prendas</p>
                        <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                        <p>MXN <%= number_to_currency(order.total) %></p>
                        <p><%= order.order_status.name %></p>
                        <p>Comprada: <%= order.sold_at.strftime("%H:%M, %d/%m/%y") %></p>
                        <p><%= order.id %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="link-ver">
            <%= link_to "Ver todas", admin_orders_cancelled_path %>
        </div>
        <hr>
    </div>
</div>
