<div class="wrapper">
    <div class="page-name">
        <h3>Checkout</h3>
        <hr>
    </div>
    <div class="checkout-cart col-md-6">
        <h4 id="summary">Resumen</h4>
        <%= render 'checkout_cart' %>
    </div>
    <div class="form-order col-md-6">
        <div class="order-container">
            <% if @repeated %>
                <div id="repeated">
                    <div id="ya" class="col-xs-12 repeated-el">
                        Ya tenemos tu dirección <i class="fa fa-check-square" aria-hidden="true"></i>
                    </div>
                    <div id="dir" class="col-xs-7 repeated-el">
                        <%= @address %> <%= @suburb %> <%= @city %> <%= @state %>, CP <%= @cp %>
                    </div>
                    <div id="ot" class="col-xs-5 repeated-el">
                        <span id="another-address">Usar otra</span>
                    </div>
                </div>
            <% end %>
            <div id="form-address">
                <h4>¿A dónde enviaremos tus prendas?</h4>
                <%= form_for @order, :url => "/order/#{@order.id}", method: :put do |f| %>
                    <% if @order.errors.any? %>

                        <h2><%= pluralize(@order.errors.count, "error") %> previnieron de guardar la dirección:</h2>
                        <ul>
                            <% @order.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>

                    <% end %>

                	<div class="form-group col-md-12">
                		<%= f.label :address, "Dirección" %> <br>
                		<%= f.text_field :address, class: "form-control" %>
                	</div>
                    <div class="form-group col-md-7">
                		<%= f.label :suburb, "Colonia" %> <br>
                		<%= f.text_field :suburb, class: "form-control" %>
                	</div>
                    <div class="form-group col-md-5">
                		<%= f.label :cp, "Código Postal" %> <br>
                		<%= f.text_field :cp, class: "form-control" %>
                	</div>
                    <div class="form-group col-md-6">
                		<%= f.label :city, "Ciudad" %> <br>
                		<%= f.text_field :city, class: "form-control" %>
                	</div>
                    <div class="form-group col-md-6">
                		<%= f.label :state, "Estado" %> <br>
                        <%= f.select :state, options_for_select(mx_states, "Ciudad de México"), {}, class: "form-control" %>
                	</div>
                	<div class="form-group center">
                   	 	<%= f.submit "Aceptar", class: "btn-submit" %>
                 	</div>

                <% end %>
            </div>
        </div>
    </div>
</div>
