<div class="wrapper">
    <%= render 'top_profile' %>
    <div id="info-page">
        <div class="payment">
            <h2>Tu Tarjeta</h2>
            <div class="card">
                <% if current_user.customer_id.nil? %>
                <p id="wCard">
                    No tienes ninguna tarjeta registrada
                </p>
                <% else %>
                <% end %>
            </div>
            <div class="pow-strip">
                <%=link_to (image_tag "stripe.png"), "https://stripe.com/", target: "_blank" %>
            </div>
        </div>
        <hr>
        <div class="addresses">
            <h2>Tu Dirección</h2>
                <div class="address">
                    <% if @order %>
                        <p>Dirección: <%= @order.address %>, <%= @order.suburb %></p>
                        <p><%= @order.city %>, <%= @order.state %> </p>
                        <p>C.P.: <%= @order.cp %></p>
                    <% else %>
                        <p>
                            No tienes ninguna dirección registrada.
                        </p>
                    <% end %>
                </div>
        </div>
    </div>
</div>
