<div class="home">
    <div id="slider">
        <div class="slide" id="s1">
            <div class="mask"></div>
            <div class="content">
                <div class="title">
                    <h1>¡FELIZ DIA DEL PADRE!</h1>
                </div>
                <div class="description">
                    <h3>En Intiman queremos festejarte como te mereces</h3>
                </div>
                <div class="guide-btn">
                    <a href="#">VER PROMOCIÓN</a>
                </div>
            </div>
            <%= image_tag 'homeslider1' %>
        </div>
        <div class="slide" id="s2">
            <div class="mask"></div>
            <div class="content content2">
                <div class="title">
                    <h1>¡NUEVA LÍNEA!</h1>
                </div>
                <div class="description">
                    <h3>Con el verano llega la nueva línea, chécalos</h3>
                </div>
                <div class="guide-btn">
                    <a href="#">VER PRODUCTOS</a>
                </div>
            </div>
            <%= image_tag 'homeslider2' %>
        </div>
    </div>
    <div class="changers">
        <div class="changer active" data-link="s1" ></div>
        <div class="changer" data-link="s2"></div>
    </div>
    <div class="progress-bar">
        <hr id="bar">
    </div>
    <div id="categories" class="wrapper">
        <div class="category" id="c1">
            <%= image_tag "c1" %>
            <a href="/categories/termicos">
                <div class="mask">
                    <h2>Térmicos</h2>
                </div>
            </a>
        </div>
        <div class="category" id="c2">
            <%= image_tag "c2" %>
            <a href="categories/trajes-de-bano">
                <div class="mask">
                    <h2>Trajes de baño</h2>
                </div>
            </a>
        </div>
        <div class="category" id="c3">
            <%= image_tag "c3" %>
            <a href="categories/playeras">
                <div class="mask">
                    <h2>Playeras</h2>
                </div>
            </a>
        </div>
        <div class="category" id="c4">
            <%= image_tag "c4" %>
            <a href="categories/boxers">
                <div class="mask">
                    <h2>Bóxers</h2>
                </div>
            </a>
        </div>
        <div class="category" id="c5">
            <%= image_tag "c5" %>
            <a href="categories/tangas">
                <div class="mask">
                    <h2>Tangas</h2>
                </div>
            </a>
        </div>
    </div>
    <div id="brandssales">
        <div class="brands column">
            <a href="/brands/duha">
                <div class="duha row">
                    <div class="column ima">
                        <%= image_tag "duha.png" %>
                    </div>
                    <div class="column name">
                        <h3>DUHA</h3>
                    </div>
                </div>
            </a>
            <a href="/brands/byjou">
                <div class="byjou row">
                    <div class="column name">
                        <h3>BYJOU</h3>
                    </div>
                    <div class="column ima">
                        <%= image_tag "byjou.png" %>
                    </div>
                </div>
            </a>
            <a href="/brands/2clovek">
                <div class="clovek row">
                    <div class="column ima">
                        <%= image_tag "clovek.png" %>
                    </div>
                    <div class="column name">
                        <h3>2CLOVEK</h3>
                    </div>
                </div>
            </a>
        </div>
        <%= link_to sales_index_path do %>
            <div class="sales column">
                <div class="ima">
                    <%= image_tag "sales.png" %>
                </div>
                <div class="text">
                    <h1>SALES</h1>
                    <%= link_to "Comprar ahora", sales_index_path, id: "sale-link" %>
                </div>
            </div>
        <% end %>
    </div>
    <div id="newreleases" class="wrapper clearfix">
        <h1>Nuevos Productos</h1>
        <div class="cloths">
            <% @cloths.each do |cloth| %>
                <%= link_to cloth do %>
                    <div class="cloth col-sm-3 col-xs-6">
                        <div class="cloth-image">
                            <%= image_tag cloth.image1.url(:medium) %>
                        </div>
                        <div class="info">
                            <h5><%= cloth.name %></h5>
                            <% if cloth.discount_price != 0 %>
                                <h5 id="dprice"><%= number_to_currency cloth.discount_price %> <span id="nprice"><%= number_to_currency cloth.normal_price %></span></h5>
                            <% else %>
                                <h5 id="price"><%= number_to_currency cloth.normal_price %></h5>
                            <% end %>
                        </div>
                        <!-- <% if user_signed_in? %>
                            <div class="like">
                                <% if !(current_user.liked? cloth) %>
                                    <%= link_to like_cloth_path(cloth), method: :put do %>
                                        <span class="change-icon">
                                            <div class="fs1" aria-hidden="true" data-icon="&#xe030;"></div>
                                            <div class="fs1" aria-hidden="true" data-icon="&#xe089;"></div>
                                        </span>
                                    <% end %>
                                <% else %>
                                    <%= link_to dislike_cloth_path(cloth), method: :put do %>
                                        <span class="change-icon">
                                            <div class="fs1" aria-hidden="true" data-icon="&#xe089;"></div>
                                            <div class="fs1" aria-hidden="true" data-icon="&#xe030;"></div>
                                        </span>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %> -->
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div id="social" class="wrapper clearfix">
        <div id="followus">
            <h1>SIGUÉNOS</h1>
            <div class="links">
                <a id="fb" href=""><i class="fa fa-facebook"></i></a>
                <a id="gplus" href=""><i class="fa fa-google-plus"></i></a>
                <a id="insta" href=""><i class="fa fa-instagram"></i></a>
                <a id="pin" href=""><i class="fa fa-pinterest"></i></a>
                <a id="tw" href=""><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div id="social-media">
            <div class="col-sm-6 instagram">
                <h1>Intagram</h1>
                <hr>
                <div class="content">
                    <script type="text/javascript">
                        var userFeed = new Instafeed({
                          get: 'user',
                          userId: '19739162',
                          accessToken: '19739162.1677ed0.3602fe1b26db43d98f61fc19a2b3b3a7',
                          limit: '6',
                          sortBy: 'most-recent'
                        });
                        userFeed.run();
                    </script>
                    <div id="instafeed"></div>
                </div>
            </div>
            <div class="col-sm-6 twitter">
                <h1>Tweets</h1>
                <hr>
                <div class="content">
                    <a class="twitter-timeline" href="https://twitter.com/nfl" data-tweet-limit="2"  data-chrome="noheader noborders nofooter"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>
