<div class="home">
    <div id="prev">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
    </div>
    <div id="slider">
        <% @sliders.each do |s| %>
            <div class="slide">
                <% if s.description? %>
                    <div class="description">
                        <h3><%= s.description %></h3>
                    </div>
                <% end %>
                <%= link_to s.link do %>
                    <%= image_tag s.image.url(:big) %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div id="next">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </div>
    <div class="wrapper">
        <div class="page-name">
            <h3>Marcas</h3>
            <hr>
        </div>
        <div id="brands" class="transitions-enabled clearfix">
            <% @brands.each do |brand| %>
                <div class="brand">
                    <div id="image">
                        <% if brand.cloths.count > 0 %>
                            <%= image_tag brand.cloths.first.image1.url(:preview) %>
                        <% end %>
                        <div class="buy">
                            <%= link_to "Comprar #{brand.name}", brand %></h3>
                        </div>
                    </div>
                    <div class="name">
                        <h3><%= brand.name %></h3>
                    </div>

                </div>
            <% end %>
        </div>
        <div class="page-name">
            <h3>Categorias</h3>
            <hr>
        </div>
        <div id="categories" class="transitions-enabled clearfix">
            <% @categories.each do |category| %>

                <div class="category">

                    <div id="image">
                        <% if category.cloths.count > 0 %>
                            <%= image_tag category.cloths.first.image2.url(:preview) %>
                        <% end %>
                        <%= link_to category do%>
                        <div class="buy"></div>
                        <% end %>
                    </div>
                    <div class="name">
                        <h3><%= category.name %></h3>
                    </div>
                </div>

            <% end %>
        </div>
    </div>
</div>
