<div class="cloth">
    <%= image_tag cloth.image1.url(:medium) %>
    <div class="info">
        <div class="top">
            <h4 class="name"><%= cloth.name %></h4>
            <% @cos.each do |co| %>
                <% if co.color_id == order_item.color_id %>
                    <% @color = co.color %>
                <% end %>
            <% end %>
            <span class="color" style="background:<%= @color.hex %>;"></span>
            <% @sis.each do |si| %>
                <% if si.size_id == order_item.size_id %>
                    <% @size = si.size %>
                <% end %>
            <% end %>
            <h4 class="size"><%= @size.letter %></h4>
        </div>
        <%= form_for (order_item), remote: true,:url => "/order_items/#{order_item.id}", :html=>{:id=>'item_form_cart'} do |f| %>
            <div class="quantity">
              Cantidad: <%= f.select :quantity, options_for_select(1..10, order_item.quantity), {}, class: "form-control", onchange: "$(this).closest('#item_form_cart').submit();"%>
              <%= f.hidden_field :cloth_id, value: cloth.id %>
            </div>
        <% end %>
        <h4 class="price"><%= number_to_currency order_item.unit_price %></h4>
        <div class="links">
            <a href="#modalBagCloth<%= order_item.id %>" role="button" class="btn" data-toggle="modal">Editar</a>
            <%= link_to "Eliminar", order_item, { data: { confirm: "¿Estás seguro que quieres borrar esta prenda de tu bolsa?" }, method: :delete, remote: true, class: "delete" } %>
        </div>
    </div>
</div>
