<%= link_to cloth do %>
    <div class="cloth col-sm-3 col-xs-12">
        <div class="cloth-image">
            <%= image_tag cloth.image1.url(:medium) %>
            <div class="hover">
                <% @sizes.each do |size| %>
                    <% cloth.sis.each do |si| %>
                        <% if size == si.size %>
                            <% @exists = true %>
                        <% end %>
                    <% end %>
                    <% if @exists %>
                        <p id="available"><%= size.letter %></p>
                    <% else %>
                        <p id="unavailable"><%= size.letter %><span>╱</span></p>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="info">
            <h5><%= cloth.name %></h5>
            <% if cloth.discount_price != 0 %>
                <h5 id="dprice"><%= number_to_currency cloth.discount_price %> <span id="nprice"><%= number_to_currency cloth.normal_price %></span></h5>
                <div class="sale-banner"><h1>SALE</h1></div>
            <% else %>
                <h5 id="price"><%= number_to_currency cloth.normal_price %></h5>
            <% end %>
        </div>
        <% if user_signed_in? %>
            <div class="like">
                <% if !(current_user.liked? cloth) %>
                    <%= link_to like_cloth_path(cloth), method: :put do %>
                        <span class="change-icon">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe030;"></div>
                            <div class="fs1" aria-hidden="true" data-icon="&#xe089;"></div>
                        </span>
                    <% end %>
                <% else %>
                    <%= link_to dislike_cloth_path(cloth), method: :put do %>
                        <span class="change-icon">
                            <div class="fs1" aria-hidden="true" data-icon="&#xe089;"></div>
                            <div class="fs1" aria-hidden="true" data-icon="&#xe030;"></div>
                        </span>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
