<%= semantic_form_for @cloth do |f| %>
    <% if @cloth.errors.any? %>

        <h2><%= pluralize(@cloth.errors.count, "error") %> prevented from saving the cloth:</h2>
        <ul>
            <% @cloth.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>

    <% end %>

	<div class="form-group">
		<%= f.input :description, :as => :text, :label => "Descripción del producto", :input_html => { :class => 'form-control'} %>
	</div>
    <div class="form-group">
		<%= f.input :normal_price, :label => "Precio Normal", :input_html => { :class => 'form-control'} %>
	</div>
    <div class="form-group">
        <%= f.input :discount_price, :label => "Precio de Descuento", :hint => "si no tiene descuento, déjalo en 0", :input_html => { :class => 'form-control'} %>
	</div>

    <div class="form-group">
        <%= f.input :category, :as => :select, :collection => Category.all, :label => "Selecciona a que categoria pertenece el producto", :input_html => { :class => 'form-control'}, :include_blank => false %>
	</div>
    <div class="form-group">
        <%= f.input :brand, :as => :select, :collection => Brand.all, :label => "Selecciona a que marca pertenece el producto", :input_html => { :class => 'form-control'}, :include_blank => false %>
	</div>
    <div class="form-group">
        <%= f.input :sizes, :as => :check_boxes, :label => "Selecciona las tallas en las que está disponible", :collection => Hash[Size.all.map { |size| [size.letter, size.letter] }] %>
    </div>
    <div class="form-group">
        <%= f.input :colors, :as => :check_boxes, :label => "Selecciona los colores en los que está disponible", :collection => Hash[Color.all.map { |color| [color.name, color.name] }] %>
    </div>
    <div class="form-group">
        <%= f.input :image1, :required => false, :as => :file, :label => "Imagen 1", :hint => "Producto sólo", :input_html => { :class => 'form-control'} %>
    </div>
    <div class="form-group">
        <%= f.input :image2, :required => false, :as => :file, :label => "Imagen 2", :hint => "Modelo con producto puesto", :input_html => { :class => 'form-control'} %>
    </div>
	<div class="form-group">
        <%= f.action :submit, :button_html => { :value => 'Nuevo Producto'}, :input_html => { :class => 'btn btn-success'} %>
 	</div>

<% end %>
