<%= semantic_form_for @cloth do |f| %>
    <% if @cloth.errors.any? %>

        <h2><%= pluralize(@cloth.errors.count, "error") %> prevented from saving the cloth:</h2>
        <ul>
            <% @cloth.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>

    <% end %>

	<div class="form-group">
		<%= f.input :description, :as => :text, :label => "Descripción del producto", :input_html => { :class => 'form-control'} %>
	</div>
    <div class="form-group">
		<%= f.input :normal_price, :label => "Precio Normal", :input_html => { :class => 'form-control'} %>
	</div>
    <div class="form-group">
        <%= f.input :discount_price, :label => "Precio de Descuento", :hint => "si no tiene descuento, déjalo en 0", :input_html => { :class => 'form-control'} %>
	</div>

    <div class="form-group">
        <%= f.input :category, :as => :select, :collection => Category.all, :label => "Selecciona a que categoria pertenece el producto", :input_html => { :class => 'form-control'}, :include_blank => false %>
	</div>
    <div class="form-group">
        <%= f.input :brand, :as => :select, :collection => Brand.all, :label => "Selecciona a que marca pertenece el producto", :input_html => { :class => 'form-control'}, :include_blank => false %>
	</div>
    <div class="form-group">
        <%= f.input :sizes, :as => :check_boxes, :collection => Hash[Size.all.map { |size| [size.letter, size.id] }] %>
    </div>
	<div class="form-group">
        <%= f.action :submit %>
 	</div>

<% end %>
