<div class="sales-index">
    <div class="page-name">
        <h3>Sales</h3>
    </div>
    <% @cloths.each do |cloth| %>
        <% if cloth.image1 && cloth.image2 %>
            <div class="image1">
                <h2>Producto solo</h2>
                <%= image_tag cloth.image1.url(:preview) %>
            </div>
            <div class="image2">
                <h2>Modelo con producto</h2>
                <%= image_tag cloth.image2.url(:preview) %>
            </div>
        <% end %>
        <div class="descr">
            <p><%= cloth.description %></p>
        </div>
        <div class="prices">
            <p><%= cloth.normal_price %></p>
            <p><%= cloth.discount_price %></p>
        </div>
    <% end %>
</div>
