<div class="content">
    <div class="continue">
        <p><div class="fs1" aria-hidden="true" data-icon="&#x3c;"></div> continuar comprando</p>
    </div>
    <div class="title">
        <h3>Bolsa <div class="fs1" aria-hidden="true" data-icon="&#xe013;"></div></h3>
        <hr>
    </div>
    <% if @order_items.count < 1 %>
      <p class="no-cloths">
        Aún no tienes prendas en tu bolsa de compras. <i class="fa fa-exclamation-circle"></i>
      </p>
    <% else %>
        <div id="items">
            <% @order_items.each do |item| %>
                <% if !item.cloth.nil? %>
                    <div class="item">
                        <div class="thumb">
                            <%= image_tag item.cloth.image1.url(:thumb) %>
                        </div>
                        <div class="description">
                            <%= link_to item.cloth do %>
                                <h5><%= item.cloth.name %></h5>
                                <h5><%= item.cloth.brand.name %></h5>
                            <% end %>
                            <h5 id="price"><%= item.quantity %> x <%= number_to_currency item.unit_price %></h5>
                        </div>
                        <div class="delete">
                            <%= link_to item, { data: { confirm: "¿Estás seguro que quieres borrar esta prenda de tu carrito?" }, method: :delete, remote: true } do %>
                                <span class="change-icon">
                                    <div class="fs1" aria-hidden="true" data-icon="&#x51;"></div>
                                    <div class="fs1" aria-hidden="true" data-icon="&#xe051;"></div>
                                </span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="subtotal">
            <h3>Subtotal: <span><%= number_to_currency current_order.subtotal %></span></h3>
        </div>
        <div class="buttons">
            <div class="ver-cart">
                <%= link_to "Ver bolsa", bag_path%>
            </div>
            <div class="checkout">
                <%= link_to "Checkout", checkout_path%>
            </div>
        </div>
    <% end %>
</div>
