<!DOCTYPE html>
<html>
<head>
  <title>Intiman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

    <!-- <div class="main-navigation">
        <div id="brand">
            <%= image_tag "brand1.png" %>
        </div>
        <div class="tipos">
            <div class="sec-title">
                <h3>MARCAS</h3>
            </div>
            <div class="enlaces">
                <h4><a href="#">DUHA</a></h4>
                <h4><a href="#">BYJOU</a></h4>
                <h4><a href="#">CLOVEK</a></h4>
            </div>
            <div class="sec-title">
                <h3>CATEGORÍAS</h3>
            </div>
            <div class="enlaces">
                <h4><a href="">TÉRMICOS</a></h4>
                <h4><a href="">PLAYERAS</a></h4>
                <h4><a href="">BÓXERS</a></h4>
                <h4><a href="">TANGAS</a></h4>
                <h4><a href="">TRAJES DE BAÑO</a></h4>
            </div>
        </div>
    </div> -->

    <div class="main-navigation">
        <%= link_to root_path do %>
            <div id="brand">
                <!-- <%= image_tag "brand.png" %> -->
                <h1>INTI<span>MAN</span></h1>
                <div id="slogan">
                    <p>
                        frescura + com<span>odidad + diseño</span>
                    </p>
                </div>
            </div>
        <% end %>
        <div class="marcas">
            <div class="sec-title">
                <%= link_to "<h3>MARCAS</h3>".html_safe, brands_path %>
            </div>
            <div class="enlaces">
                <% @brands.each do |brand| %>
                    <h4><%= link_to brand.name.mb_chars.upcase.to_s, brand_path(brand) %></h4>
                <% end %>
            </div>
        </div>
        <div class="categorias marcas">
            <div class="sec-title">
                <%= link_to "<h3>CATEGORÍAS</h3>".html_safe, categories_path %>
            </div>
            <div class="enlaces">
                <% @categories.each do |category| %>
                    <h4><%= link_to category.name.mb_chars.upcase.to_s, category_path(category) %></h4>
                <% end %>
            </div>
        </div>
        <div class="sale">
            <a href="/sales"><h3>SALES</h3></a>
        </div>
        <div class="buttons">
            <% if admin_signed_in? %>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fa fa-male'></i> Admin <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><%= link_to "Dashboard", pages_about_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Cerrar sesión",destroy_admin_session_path, method: :delete %></li>
                  </ul>
                </div>
            <% else %>
                <div class="account button">
                    <h5>
                    <% if user_signed_in? %>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='fa fa-male'></i> <%= current_user.first_name.split[0]%> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><%= link_to "Mi cuenta", user_path(current_user.id) %></li>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to "Cerrar sesión",destroy_user_session_path, method: :delete %></li>
                          </ul>
                        </div>
                    <% else %>
                        <%= link_to "Iniciar Sesión", new_user_session_path %>
                    <% end %>
                    </h5>
                </div>
                <div class="likes button hover">
                    <% if user_signed_in? %>
                        <a href="#"><h5><i class="fa fa-heart"></i> (<%= current_user.find_liked_items.count %>)</h5></a>
                        <div class="content">
                            <h1>content</h1>
                        </div>
                    <% else %>
                        <a href="#"><h5><i class="fa fa-heart"></i></h5></a>
                        <div class="content">
                            <h1>Necesitas iniciar sesión para poder tener una lista de prendas que te gustan</h1>
                            <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn-intiman" %>
                        </div>
                    <% end %>
                </div>
                <div class="bag button hover">
                    <a href="#"><h5><i class="fa fa-shopping-cart" aria-hidden="true"></i> (0)</h5></a>
                    <div class="content">
                        <h1>content</h1>
                    </div>
                </div>
            <% end %>
            <div class="search-form">
                <%= form_tag "/search/create", method: :get, id: "search_form" do %>
                  <div class="fieldContainer">
                      <span class="fa fa-search"></span>

                        <%= text_field_tag :keyword, nil, placeholder: "Buscar", id: "query", class: "searchField blur" %>

                      <!-- <input type="search" id="query" class="searchField blur" placeholder="Search"> -->
                  </div>
                   <% end %>
            </div>
        </div>
    </div>

    <% if notice %>
          <div class="alert alert-success">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <ul>
              <li>
                <%= notice %>
              </li>
            </ul>
          </div>
    <% elsif alert %>
        <div class="alert alert-danger">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= alert %>
            </li>
          </ul>
        </div>
    <% end %>

    <div class="wrapper_page">
        <%= yield %>
    </div>
    <% if !admin_signed_in? %>
        <div class="footer">
            <div class="social">
                <h5>
                    Redes Sociales
                </h5>
                <a class="button" href=""><i class="fa fa-facebook"></i></a>
                <a class="button" href=""><i class="fa fa-instagram"></i></a>
            </div>
            <div class="links">
                <p>
                    <a href="#">Quienes Somos</a>
                </p>
                <p>
                    <a href="#">Contacto</a>
                </p>
                <p>
                    <a href="#">Aviso Legal</a>
                </p>
            </div>
            <div class="newsletter">
                <h3>Newsletter <i class="fa fa-envelope"></i></h3>
                <p>
                    Suscríbete a nuestro newsletter para ser
                    <span> el primero con increíbles promociones!</span>
                </p>
                <form>
                    <input type="text" name="email" value="" placeholder="Email">
                </form>

            </div>
            <div class="phrase">
                <h4>frescura + comodidad + diseño</h4>
            </div>
        </div>
    <% end %>
</body>
</html>
